* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   background: #f7f7f7;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* label {
   display: inline-block;
   background: #000;
   width: 90px;
   height: 50px;
   border-radius: 50px;
   position: relative;
   cursor: pointer;

}

input {
   opacity: 0;
   position: absolute;
   width: 100%;
   height: 100%;
   cursor: pointer;

}

.slider {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   background: #fff;
   position: absolute;
   left: 5px;
   top: 5px;
   transition: left .3s;
}

input:checked + .slider {
   right: 5px;
   left: 50%;
}
input:checked +  {
   right: 5px;
   left: 50%;
} */

/* ------------------- */



.toggle-switch {
   display: inline-block;
   position: relative;
   height: 44px;
   width: 80px;
}

input {
   display: none;
}

.slider {
   position: absolute;
   background-color: hsl(230, 22%, 74%);
   height: 100%;
   width: 100%;
   cursor: pointer;
   transition: 0.4s;
   border-radius: 34px;
}

.slider:before {
   content: "";
   background-color: #fff;
   height: 36px;
   width: 36px;
   bottom: 4px;
   left: 4px;
   position: absolute;
   transition: 0.4s;
   border-radius: 50%;
}

 input:checked + .slider {
   background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:checked + .slider:before {
   transform: translateX(36px);
}


